[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
seaborn = "*"
sklearn = "*"
jupyter = "*"
ipykernel = "*"
tox = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.7"
